.post {
  border: 1px solid gray;
  border-radius: 8px;
  text-align: center;
  font-family: arial;
  font-size: 15px;
  box-shadow: 5px 5px 5px #888888;
  background-color: #f0f0f5;
  padding-bottom: 10px;
}

.grid-item { 
  width: 20em; 
  margin-bottom: 2em;
}

.grid {
  margin-right: auto;
  margin-left: auto;
}

body {
  background-color: #e0ebeb;
}

.blurb {
  font-size: 13px;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 1em;
  border-bottom: thin solid #83afaf;
}

.header {
  text-align: center;
  padding-bottom: 50px;
}

h1 {
  font-size: 100px;
  font-family: serif;
  font-variant: small-caps;
  background-color: black;
  color: #ffcc99;
}

h3 {
  width: 80%;
  padding-right: 10%;
  padding-left: 10%
}

.bold {
  font-weight: bold;
}

.detail {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 14px;
  font-style: italic; 
}







